.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #a71d2a !important;
}

.text-light {
  color: #f8f9fa !important;
}

a.text-light:hover,
a.text-light:focus {
  color: #cbd3da !important;
}

.text-dark {
  color: #343a40 !important;
}

a.text-dark:hover,
a.text-dark:focus {
  color: #121416 !important;
}

.text-body {
  color: #212529 !important;
}

.text-muted {
  color: #6c757d !important;
}

.text-black-50 {
  color: rgba(0, 0, 0, 0.5) !important;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

.text-reset {
  color: inherit !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }
  .container {
    min-width: 992px !important;
  }
  .navbar {
    display: none;
  }
  .badge {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important;
  }
  .table-dark {
    color: inherit;
  }
  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody + tbody {
    border-color: #dee2e6;
  }
  .table .thead-dark th {
    color: inherit;
    border-color: #dee2e6;
  }
}

:root {
  --primary-color: #151965;
  --secondary-color: #ff8556;
  --text-color: #6c757d;
  --title-color: #0f0f1a;
  --white-color: #ffffff;
  --light-bg-color: #fafafa;
  --card-box-shadow: 1px 2px 6px 1px rgba(53, 54, 102, 0.08);
  --card-hover-box-shadow: 0px 0px 8px rgba(53, 54, 102, 0.2);
  --card-curve: 6px;
}

.w3l-about1 .new-block {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.57),
      rgba(0, 0, 0, 0.33)
    ),
    url(../images/shared-bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: calc(100vh - 0px);
  display: grid;
  align-items: center;
  padding: 2rem 0;
}

.w3l-about1 .middle-section {
  max-width: 450px;
}

.w3l-about1 .middle-section h2 {
  color: #ffffff;
  font-size: 32px;
  line-height: 40px;
}

.w3l-about1 .link-list-menu p {
  font-size: 16px;
  color: #eee;
  line-height: 26px;
  padding-top: 25px;
}

@media (max-width: 800px) {
  .w3l-about1 .middle-section a {
    margin-top: 40px;
  }
}

@media (max-width: 667px) {
  .w3l-about1 .link-list-menu {
    max-width: 523px;
  }
  .w3l-about1 .middle-section a {
    margin-top: 30px;
  }
  .w3l-about1 .link-list-menu p {
    font-size: 15px;
    line-height: 22px;
  }
}

@media (max-width: 600px) {
  .w3l-about1 .link-list-menu p {
    padding-top: 13px;
  }
}

@media (max-width: 480px) {
  .w3l-about1 .link-list-menu p {
    font-size: 19px;
    line-height: 25px;
  }
}

@media (max-width: 440px) {
  .w3l-about1 .middle-section h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 384px) {
  .w3l-about1 .link-list-menu p {
    font-size: 18px;
  }
  .w3l-about1 .middle-section a {
    margin-top: 25px;
  }
}

@media (max-width: 320px) {
  .w3l-about1 .link-list-menu {
    width: 281px;
  }
  .w3l-about1 .link-list-menu p {
    font-size: 20px;
  }
}

.w3l-about2 .features-main {
  background: var(--light-bg-color);
}

.w3l-about2 h3.stat-title {
  font-size: 32px;
  line-height: 44px;
  color: var(--title-color);
}

.w3l-about2 .feature-images {
  display: block;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 9px 24px 5px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 9px 24px 5px #e8e8f0;
  background: #fff;
}

.w3l-about2 .feature-images span {
  color: var(--primary-color);
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 120px;
}

.w3l-about2 h3.feature-titel {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  color: var(--title-color);
}

.w3l-about2 p.feature-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

@media (max-width: 1280px) {
  .w3l-about2 .feature-info {
    padding: 0 10px;
  }
  .w3l-about2 p.feature-text {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .w3l-about2 .feature-info {
    padding: 0 0px;
  }
}

@media (max-width: 767px) {
  .w3l-about2 p.feature-text {
    font-size: 15px;
  }
}

.w3l-about3 h3.timeline-title {
  font-size: 32px;
  line-height: 44px;
  color: var(--title-color);
}

.w3l-about3 .timeline {
  position: relative;
  width: 860px;
  margin: 0 auto;
  padding: 4.5rem 0;
  list-style-type: none;
}

.w3l-about3 .timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 4px;
  height: 100%;
  margin-left: -2px;
  background: var(--secondary-color);
}

.w3l-about3 .timeline li {
  padding: 1em 0;
}

.w3l-about3 .timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.w3l-about3 .direction-l {
  position: relative;
  width: 400px;
  float: left;
  text-align: right;
}

.w3l-about3 .direction-r {
  position: relative;
  width: 400px;
  float: right;
}

.w3l-about3 .flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.w3l-about3 .flag {
  position: relative;
  display: inline;
  padding: 0px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: left;
  font-size: 22px;
  color: var(--primary-color);
}

.w3l-about3 .direction-l .flag:before,
.w3l-about3 .direction-r .flag:before {
  position: absolute;
  top: 5px;
  right: -47px;
  content: " ";
  display: block;
  width: 34px;
  height: 34px;
  margin-top: -10px;
  background: var(--secondary-color);
  border-radius: 10px;
  border: 10px solid #fff;
  border-radius: 50%;
  z-index: 8;
  box-shadow: var(--card-box-shadow);
}

.w3l-about3 .direction-r .flag:before {
  left: -47px;
}

.w3l-about3 .desc {
  margin: 1em 0.75em 0 0;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.w3l-about3 .direction-r .desc {
  margin: 1em 0 0 0.75em;
}

@media screen and (max-width: 991px) {
  .w3l-about3 .timeline {
    width: 660px;
  }
  .w3l-about3 .direction-l {
    width: 300px;
  }
  .w3l-about3 .direction-r {
    width: 300px;
  }
}

@media screen and (max-width: 736px) {
  .w3l-about3 .timeline {
    width: 100%;
  }
  .w3l-about3 .timeline li {
    padding: 2em 0;
  }
  .w3l-about3 .direction-l,
  .w3l-about3 .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
  .w3l-about3 .flag-wrapper {
    text-align: center;
  }
  .w3l-about3 .direction-l .flag:before,
  .w3l-about3 .direction-r .flag:before {
    top: -30px;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border: 8px solid #fff;
  }
  .w3l-about3 .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: whitesmoke;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }
  .w3l-about3 .direction-l .desc,
  .w3l-about3 .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 8;
  }
}

.w3l-about4 a {
  display: inline-block;
}

.w3l-about4 .header {
  font-size: 32px;
  line-height: 44px;
  color: var(--title-color);
}

.w3l-about4 .head-main {
  color: var(--para-color);
  line-height: 25px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.w3l-about4 .contact-main p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.w3l-about4 .contact-para {
  color: var(--para-color);
  line-height: 25px;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
}

.w3l-about4 .map iframe {
  width: 100%;
  height: 350px;
}

@media (max-width: 992px) {
  .w3l-about4 .head-main {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .w3l-about4 .column {
    padding: 0;
  }
}

.w3l-about5 .history-info {
  max-width: 700px;
  margin: 0 auto;
}

.w3l-about5 .history-info img {
  border-radius: var(--card-curve);
  box-shadow: 0px 9px 24px 5px rgba(0, 0, 0, 0.04);
}

.w3l-about5 .history h4 {
  font-size: 24px;
  color: var(--primary-color);
}

.w3l-about5 .history p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.w3l-about5 .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.w3l-about5 span.video-play-icon {
  background: #fff;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.w3l-about5 span.video-play-icon span {
  color: #ff8556;
}

.w3l-about5 span.video-play-icon:hover {
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
}

.w3l-about5 span.fa.fa-play {
  line-height: 80px;
}

.w3l-about5 .pop-overlay {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  overflow-y: scroll;
  max-height: 100vh;
  height: 100vh;
  display: grid;
  align-items: center;
}

.w3l-about5 .pop-overlay::-webkit-scrollbar {
  width: 4px;
}

.w3l-about5 .pop-overlay::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff;
  border-radius: 5px;
}

.w3l-about5 .pop-overlay::-webkit-scrollbar-thumb {
  background: rgba(82, 82, 82, 0.4);
}

.w3l-about5 .pop-overlay:target {
  visibility: visible;
  opacity: 1;
}

.w3l-about5 .popup {
  background: #fff;
  border-radius: 4px;
  width: 60%;
  position: relative;
  margin: 2rem auto;
  padding: 5px;
}

.w3l-about5 .align-popup-video iframe {
  width: 100%;
  height: 400px;
  display: block;
}

.w3l-about5 .popup .close {
  position: absolute;
  top: -28px;
  right: 0px;
  transition: all 200ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  background: #fff;
  width: 30px;
  height: 30px;
  line-height: 28px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.w3l-about5 .popup .close:hover {
  opacity: 1;
}

@media screen and (max-width: 660px) {
  .w3l-about5 .popup {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .w3l-about5 .popup {
    width: 90%;
  }
}

/*-- index-block8 --*/
.w3l-about6 .btn-demo {
  padding: 12px 24px;
}
